header {
  background-color: #1c1c33;
  padding: 10px 0;
}
header nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
}

header nav ul li:hover a {
  transition: 0.3s;
  color: #57d9a6;
}
header nav ul li a {
  color: #fff;
}
header button {
  background-color: transparent;
  cursor: pointer;
}
header button i {
  color: #fff;
  font-size: 20px;
}
.shop_btn {
  position: relative;
  border: none;
}
.badge {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fc5468;
  color: #fff;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
